.buttons {
    margin: auto;
    width: 50%;
    text-align: center;
}
.searchbar {
    
    width: auto;
    max-width: 584px;
    display: block;
    flex: 100%;
    flex-wrap: wrap;
    height: 44px;
    text-align: center;
    margin: auto;
    outline: none;
    padding-bottom: 20px;
    padding-top: 20px;
}
.searchbarmain {
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin-bottom: 10px;
    display: block;
    width: 584px;
    max-width: 584px;
    flex: 100%;
    flex-wrap: wrap;
    margin: auto;
    
   

}
.logo {
    margin: auto;
    width: 50%;
    text-align: center;
}
.navright {
    text-align: right;
}
.lileft {
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    padding: 5px;
}

.liright {
    display: inline;
    float: right;
    margin-right: 10px;
    font-family: arial;
    font-size: 14px;
}
.libottomleft{
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    padding: 5px;
}
.libottomcenter{
    display: inline-block;
}
.libottomright{
    display: inline;
    float: right;
    margin-right: 10px;
    font-family: arial;
    font-size: 14px;
}
.button1 {
    text-align: center;
    background-color: rgb(26, 115, 232);
    color: white;
    cursor: pointer;
    border-color: transparent;
    border: 1px solid transparent;
    padding: 9px 23px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    min-width: 96px;
    margin-right: 8px;
    margin-left: 9px;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
}
.button2{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none; 

}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
