.buttons {
    margin: auto;
    width: 50%;
    text-align: center;
}
.searchbar {
    
    width: auto;
    max-width: 584px;
    display: block;
    flex: 100%;
    flex-wrap: wrap;
    height: 44px;
    text-align: center;
    margin: auto;
    outline: none;
}
.logo {
    margin: auto;
    width: 50%;
    text-align: center;
}
.navright {
    text-align: right;
}
.lileft {
    display: inline;
}
.liright {
    display: inline;
    float: right;
    margin-right: 10px;
}
.button1 {
    text-align: center;
    background-color: rgb(18, 90, 184);
    color: white;
    cursor: pointer;
    border-color: transparent;
    border: 1px solid transparent;
    padding: 9px 23px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    min-width: 96px;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
